* {
  box-sizing: border-box;
}
.box {
  box-sizing: content-box;
  display: inline-block;
  background-color: red;
  width: 300px;
  height: 300px;
  padding: 20px;
  /*   border-width: 3px;
  border-style: solid;
  border-color: black; or */
  border: 3px solid black;
  margin: 40px;
  z-index: 5;
}
.example {
  margin: 20px;
  background-color: green;
  position: relative;
}
.yellow {
  position: absolute;
  left: 120px;
  background-color: greenyellow;
}
